.justify-content-start {
    justify-content: flex-end !important;
}

.goods-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

.card {
    margin-right: 20px;
    margin-top: 20px;
    width: 18rem;
}

.goods-search {
    margin-right: .5rem !important;
    border: 0.5px solid #198754;
    border-radius: .25rem;
    padding: .375rem .75rem;
    outline: none;
}